.bestwant {
  padding-top: 210px;

  .bestwant_title, .bestwant_subtitle {
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;
  }

  .bestwant_title {
    font-weight: bold;
  }

  .bestwant_subtitle {
    margin-bottom: 67px;
  }

  .bestwant_wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: 0 auto;

    .card {
      flex-basis: 497px;
      background: $white;

      .card_top {
        padding: 25px 25px 0 25px;

        .top_inner {
          background: lightgrey;
          position: relative;
          width: 100%;
          padding-bottom: 90%;

          img {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -35px;
          }
        }
      }

      .card_mid {
        padding-top: 47px;

        .mid_title {
          max-width: 431px;
          margin: 0 auto;
          margin-bottom: 24px;
          min-height: 116px;
          font-weight: bold;
          font-size: 24px;
          line-height: 29px;
          color: $black;
          text-align: center;
        }
      }

      .card_bottom {
        .card_btn {

        }
      }
    }
  }

}