.bestbuy {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 119px;
  padding-bottom: 140px;

  .buy {
    flex-basis: 497px;


    .buy_top {

      .top_inner {
        position: relative;
        width: 100%;
        padding-bottom: 86%;

        .inner_title {
          position: absolute;
          top: 50px;
          left: 50%;
          transform: translateX(-50%);
          //margin-bottom: 37px;
          font-family: $font-gothic-bold !important;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          text-transform: uppercase;
          color: #AF000D;
          width: 100%;
          letter-spacing: -0.5px;
          z-index: 1;
        }

        .top_frame {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -35px;
        }

        .top_img {
          position: absolute;
          bottom: -35px;
          left: 50%;
          transform: translateX(-50%);
          z-index: 1;
          transition: all .4s ease-in-out;
        }
      }

      &:hover {
        .top_img {
          transform: translateX(-50%) scale(1.05);
        }
      }
    }

    .buy_mid {
      position: relative;
      padding-top: 47px;
      background: $white;

      .mid_title {
        font-family: $font-gothic-bold !important;
        font-size: 24px;
        line-height: 29px;
        color: $black;
        text-align: center;
      }

      .mid_list {
        padding: 10px 0 10px 50px;

        li {
          font-size: 20px;
          line-height: 24px;
          color: $primary3
        }
      }
    }

    .buy_bottom {
      .buy_btn {

      }
    }
  }
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .bestbuy {
    max-width: 768px;
    margin: 0 auto;
    padding: 50px 25px;

    .buy {
      flex-basis: 350px;

      .buy_top {

        .top_inner {

          .inner_title {
            font-size: 20px;
            line-height: 24px;
            max-width: 250px;
          }

          .top_frame {
            bottom: -35px;
            img {
              max-width: 350px;
            }
          }

          .top_img {
            bottom: -15px;
            img {
              max-width: 190px;
            }
          }
        }
      }

      .buy_mid {
        padding-top: 20px;

        .mid_title {
          max-width: 330px;
          padding-bottom: 0px;
          font-size: 20px;
          line-height: 24px;
          margin: 0 auto;
        }

        .mid_list {
          padding: 10px 20px 10px 20px;

          li {
            letter-spacing: -0.4px;
            font-size: 15px;
            line-height: 20px;
          }
        }
      }

      .buy_bottom {
        .buy_btn {

        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .bestbuy {
    max-width: 768px;
    margin: 0 auto;
    padding: 40px 0px;
    flex-direction: column;
    position: relative;
    z-index: 1;

    .buy {
      flex-basis: 288px;
      width: 288px;
      margin: 0 auto;

      &:first-child{
        margin-bottom: 20px;
      }

      .buy_top {

        .top_inner {

          .inner_title {
            top: 20px;
            font-size: 16px;
            line-height: 19px;
            max-width: 210px;
          }

          .top_frame {
            bottom: auto;
            top: 0;
            img {
              max-width: 288px;
            }
          }

          .top_img {
            bottom: -15px;
            img {
              max-width: 200px;
            }
          }
        }
      }

      .buy_mid {
        padding-top: 20px;

        .mid_title {
          max-width: 264px;
          margin: 0 auto;
          padding-bottom: 0px;
          min-height: auto;
          font-size: 16px;
          line-height: 19px;
        }

        .mid_list {
          padding: 10px 20px 10px 20px;

          li {
            font-size: 14px;
            line-height: 17px;
          }
        }
      }

      .buy_bottom {
        .buy_btn {

        }
      }
    }
  }
}