.decor_wrapper {
  position: relative;
  background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/NYvichy89/decor_bg_full.jpg") center top no-repeat;
  background-size: auto;
  .decor_snow{
    display: block;
    position: absolute;
    top: 25%;
    right: -75px;
    z-index: 1;
  }
  .decor_bubbles_mob{
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .decor_wrapper {
    background: url("https://cdnparftop.parfums.ua/public/upload/newAdminUpload/Landing/NYvichy89/decor_bg_mob.jpg") center top no-repeat;
    background-size: cover;

    .decor_snow{
      display: none;
    }

    .decor_bubbles_mob{
      display: block;
      position: absolute;
      right: -130px;
      bottom: -100px;
    }
  }
}