.showcase {
  background: url("https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/NYvichy89/banner.jpg") center top no-repeat;
  background-size: cover;

  .showcase_wrap {
    padding-top: 57px;
    padding-bottom: 576px;

    .showcase_decor1 {
      display: none;
    }

    .showcase_info {
      .showcase_title {
        font-family: $font-gothic-bold !important;
        font-size: 48px;
        line-height: 58px;
        text-transform: uppercase;
      }

      .showcase_text {
        font-size: 48px;
        line-height: 58px;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .showcase {

    .showcase_wrap {
      padding-top: 20px;
      padding-bottom: 376px;

      .showcase_info {
        .showcase_title {
          font-size: 36px;
          line-height: 42px;
        }

        .showcase_text {
          font-size: 36px;
          line-height: 42px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .showcase {
    background: url("https://cdn.parfums.ua/public/upload/newAdminUpload/Landing/NYvichy89/banner_mob.jpg") center top no-repeat;

    .showcase_wrap {
      position: relative;
      padding-top: 67px;
      padding-bottom: 191px;

      .showcase_decor1 {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
      }

      .showcase_info {
        .showcase_title {
          font-size: 24px;
          line-height: 29px;
          text-align: center;
        }

        .showcase_text {
          display: block;
          font-size: 24px;
          line-height: 29px;
          text-align: center;
        }
      }
    }
  }
}