//
//
//@font-face {
//  font-family: 'Gotham Pro';
//  src: url("https://cdn.parfums.ua/public/assets/font/GothamPro/GothamPro.ttf") format("truetype");
//  font-weight: 400;
//}
//
//@font-face {
//  font-family: 'Gotham Pro-Medium';
//  src: url("https://cdn.parfums.ua/public/assets/font/GothamProMedium/GothamProMedium.ttf") format("truetype");
//  font-weight: 500;
//}
//
//@font-face {
//  font-family: 'Gotham Pro-Bold';
//  src: url("https://cdn.parfums.ua/public/assets/font/GothamProBold/GothamProBold.ttf") format("truetype");
//  font-weight: 700;
//}
//
//------------------

@font-face {
  font-family: 'Gotham Pro';
  src: url("https://cdn.parfums.ua/public/assets/font/GothamPro/GothamPro.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("https://cdn.parfums.ua/public/assets/font/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("https://cdn.parfums.ua/public/assets/font/GothamProBold/GothamProBold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'Century Gothic';
  src: url("https://cdn.parfums.ua/public/assets/font/GOTHICB/GOTHIC.TTF") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Century Gothic Bold';
  src: url("https://cdn.parfums.ua/public/assets/font/GOTHICB/GOTHICB.TTF") format("truetype");
  font-weight: 700;
}