$black: #000;
$white: #fff;

$primary1: #1C213F;;
$primary2: #AF000D;
$primary3: #B7021B;

$primary4: #00667D;
$primary5: #002D40;
$primary6: #D4DBE4;
$primary7: #A9A9A9;
$primary8: #FEFD00;

$primary9: #ED2349;
$primary10: #313998;
$primary11: #E0283F;
$primary12: rgba(224, 40, 63, 0.6);

$font-main: 'Gotham Pro';
$font-medium: 'Gotham Pro-Medium';
$font-bold: 'Gotham Pro-Bold';

$font-gothic: 'Century Gothic';
$font-gothic-bold: 'Century Gothic Bold';